{#
/**
 * @file cats_one_entity.html.twig
 * Default theme implementation to present Cats one entity data.
 *
 * This template is used when viewing Cats one entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cats_one_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cats_one_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
